# find Best accuracy

In [1]:
import pandas as pd
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr, spearmanr
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("data_cleaned.csv", header=0)
data

,DEPTH,CALI,DT,NPHI,PHIE,RHOB,SW,litho,VANH,VCLC,VDOL,VOL_SHALE
0,0,0,0,0,1,1,1,0,2,2,0,0
1,0,0,0,1,1,1,0,0,2,2,0,0
2,0,0,1,1,1,1,0,0,2,1,0,0
3,0,0,1,1,1,1,0,1,2,1,1,0
4,0,0,1,1,2,1,1,4,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2,0,2,1,2,0,2,2,0,0,0,0
2298,2,0,2,1,2,0,2,2,0,0,0,0
2299,2,0,2,1,2,0,2,2,0,0,0,0
2300,2,0,2,1,2,0,2,2,0,0,0,0
2301,2,0,1,1,2,0,2,2,0,0,0,0

In [3]:
train = data.sample(n=2000, random_state=74)
test = data.drop(train.index)

# Assuming your DataFrame is named 'train' and the target column is named 'target'
X = train.drop('litho', axis=1).values
y = train['litho'].values.reshape(-1, 1)
y = y.ravel()

data.head()

   DEPTH  CALI  DT  NPHI  PHIE  RHOB  SW  litho  VANH  VCLC  VDOL  VOL_SHALE
0      0     0   0     0     1     1   1      0     2     2     0          0
1      0     0   0     1     1     1   0      0     2     2     0          0
2      0     0   1     1     1     1   0      0     2     1     0          0
3      0     0   1     1     1     1   0      1     2     1     1          0
4      0     0   1     1     2     1   1      4     2     0     1          0

In [4]:
import itertools

num_layers = 3
max_neurons = 30

layer_combinations = []
for r in range(1, num_layers + 1):
    layer_combinations += list(itertools.product(range(1, max_neurons + 1), repeat=r))

In [5]:
import warnings
from sklearn.exceptions import ConvergenceWarning
X_test = test.drop('litho', axis=1).values
Y_test = test['litho'].values.reshape(-1, 1)
Y_test = Y_test.ravel()


with warnings.catch_warnings():
    
    warnings.filterwarnings("ignore", category=ConvergenceWarning)
    best_accuracy = 0
    best_arrangement = None

    for arrangement in layer_combinations:
        mlp = MLPClassifier(hidden_layer_sizes=arrangement, random_state=42)

        mlp.fit(X, y)
        
        y_pred = mlp.predict(X_test)

        accuracy = accuracy_score(Y_test, y_pred)
        # if accuracy > 0.80:
            

        if accuracy > best_accuracy:
            print("Arrangement:", arrangement)
            print("Accuracy:", accuracy)
            best_accuracy = accuracy
            best_arrangement = arrangement

    print("Best Arrangement:", best_arrangement)
    print("Best Accuracy:", best_accuracy)

Arrangement: (1,)
Accuracy: 0.5761589403973509
Arrangement: (2,)
Accuracy: 0.7880794701986755
Arrangement: (3,)
Accuracy: 0.8079470198675497
Arrangement: (4,)
Accuracy: 0.8311258278145696
Arrangement: (5,)
Accuracy: 0.8377483443708609
Arrangement: (7,)
Accuracy: 0.8509933774834437
Arrangement: (14,)
Accuracy: 0.8543046357615894
Arrangement: (16,)
Accuracy: 0.8675496688741722
Arrangement: (5, 28)
Accuracy: 0.8708609271523179
Arrangement: (6, 28)
Accuracy: 0.8741721854304636
Arrangement: (16, 12)
Accuracy: 0.8774834437086093
Arrangement: (20, 27)
Accuracy: 0.8807947019867549