# Load Model

In [10]:
import pandas as pd
import joblib
from sklearn.metrics import accuracy_score

In [11]:
data = pd.read_csv("data_cleaned.csv", header=0)
data

,DEPTH,CALI,DT,NPHI,PHIE,RHOB,SW,litho,VANH,VCLC,VDOL,VOL_SHALE
0,0,0,1,1,2,4,2,0,6,5,0,0
1,0,0,2,2,3,3,1,0,6,5,1,0
2,0,1,2,2,3,3,1,0,6,4,2,0
3,0,1,2,3,4,3,2,1,6,3,3,0
4,0,0,3,3,5,2,2,4,6,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2297,6,1,5,3,6,1,6,2,0,0,0,0
2298,6,2,4,3,6,1,6,2,0,0,0,0
2299,6,2,4,3,6,1,6,2,0,0,0,0
2300,6,2,4,3,5,2,6,2,0,0,0,0
2301,6,2,4,3,5,2,6,2,0,0,1,0

In [12]:
train = data.sample(n=1800,random_state=175)
test = data.drop(train.index)

# Assuming your DataFrame is named 'train' and the target column is named 'target'
X = train.drop('litho', axis=1).values
y = train['litho'].values.reshape(-1, 1)
y = y.ravel()


X_test = test.drop('litho', axis=1).values
Y_test = test['litho'].values.reshape(-1, 1)
Y_test = Y_test.ravel()

In [14]:
model_file = "litho.joblib"
model = joblib.load(model_file)

y_pred = model.predict(X)
accuracy = accuracy_score(y, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9427777777777778