In [13]:
import pandas as pd
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr, spearmanr
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.metrics import accuracy_score

In [14]:
data = pd.read_csv("data_cleaned.csv", header=0)
data

,DEPTH,CALI,DT,NPHI,PHIE,RHOB,SW,litho,VANH,VCLC,VDOL,VOL_SHALE
0,0,0,0,0,1,1,1,0,2,2,0,0
1,0,0,0,1,1,1,0,0,2,2,0,0
2,0,0,1,1,1,1,0,0,2,1,0,0
3,0,0,1,1,1,1,0,1,2,1,1,0
4,0,0,1,1,2,1,1,4,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2,0,2,1,2,0,2,2,0,0,0,0
2298,2,0,2,1,2,0,2,2,0,0,0,0
2299,2,0,2,1,2,0,2,2,0,0,0,0
2300,2,0,2,1,2,0,2,2,0,0,0,0
2301,2,0,1,1,2,0,2,2,0,0,0,0

In [23]:
# train = data[10000:10010]
train = data.sample(n=2000, random_state=74)
test = data.drop(train.index)

# Assuming your DataFrame is named 'train' and the target column is named 'target'
X = train.drop('litho', axis=1).values
y = train['litho'].values.reshape(-1, 1)
y = y.ravel()



mlp = MLPClassifier(hidden_layer_sizes=(27,), random_state=42)

mlp.fit(X, y)

from sklearn.metrics import accuracy_score

X_test = test.drop('litho', axis=1).values
Y_test = test['litho'].values.reshape(-1, 1)
Y_test = Y_test.ravel()


y_pred = mlp.predict(X_test)


accuracy = accuracy_score(Y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8642384105960265

c:\Users\pars\Desktop\mona\env\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:690: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(